*{
	margin: 0;
	padding: 0;
}
.border{
	border-bottom: solid 1px #5C606C;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
  padding-bottom: 1.2em;

}

#canvas{
	float: left;
}
nav ul li{
	list-style: none;
	display: inline;
  padding: 0.7em;
}
nav#mainMenu{
	background-color: #1F2531;
	text-align: right;
	padding: 2.3em;
	font-family: Times-New-Roman;
	font-size: 1em;
	margin-right: 1em;
}
nav{
	color:#616767;
}
nav a{
	padding: 1em;
	text-transform: uppercase;
}
a{
	color:#656A6D;
	text-decoration: none;
	display: inline;
}

a.active{
	color: #FCFFFF;
}
a:hover{
	color: #FCFFFF;
	border-top:solid 4px #B86366;
	padding-top: 2.8em;
}

.smarti_free{
	background-color: #B86366;
	padding: 3.3em 2.1em;
	margin-left: 1em ;
	border-radius: 0 0 1em 1em;
	float: left;
	border-width: 100%;

}
.smart{
  font-size: 2.2em;
  padding-bottom:0.6em;
}
.Free_Psd{
  font-size: 0.8em;
  padding-left: 1.5em;
  color: #EACDCC;
}
.foto{
	float: right;
	margin-right: 1em;
}
p.aaa{
	font-size: 4em;
	padding-top: 2.7em;
	padding-left: 12px;

}
p.bbb{
	padding-left: 1em;
	font-family: Times-New-Roman
}
div.ddd{
	background-color: #10131C;
	margin-left: 1em;
	text-transform: uppercase;
	margin-top: 1em;
	padding: 0.5em;
	float: left;
	font-size: 2em;
	border-radius: 9px;
	letter-spacing: 2px;
	width: 13em;
	text-align: center;


}

.smartphoneicon{
	clear: both;
	float: left;
height: 60px;
width: 60px;

}
.outterdiv{
	background-color: #ffffff;
	margin-top: 12em;
	margin-right: 1em;
	margin-left: 1em;
	border-radius: 1.5em;
	padding: 1em;
	height: 54em;

}
.innerdiv1{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;

}
.innerdiv2{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;


}
.innerdiv3{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;

}
.innerdiv4{
	background-color: #B86366;
	color: white;
	float: left;
	border-radius:50%;
	padding: 1.5em;
	border: solid 0.75em #E3E2E0;
	margin-right: 1em;
	margin-top: 1em;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 32px;
}
a#dropdowmi:hover{
color: #ffffff;
font-family: wide latin;
}
.innerdivv{
	clear: both;
}
.qqq{
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 1em;
}
.qqq1{
	margin-top: 1em;
	font-size: 32px;
	float: right;
	color: black;
	font-style: italic;
	margin-right: 1em;
	margin-left: 1em;
}
.qqq2{
	margin-right: 1em;
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
	margin-left: 1em;
	margin-top: 1em;
}
.qqq3{
	margin-right: 1em;
	float: right;
	color: black;
	font-size: 32px;
	font-style: italic;
	margin-left: 1em;
	margin-top: 1em;
}
.zi{
margin-right: 1em;

}
h1#benefi{
	padding-bottom: .5em;
	font-size: 0.8em;
	color: #8D8D8D;
}
p#shkronja{
	color:#969696;
	font-size: 0.6em;
}
.Osi{
  color: #88596B;
}


.eee{
	margin-left: 0;
	border-top: solid 1px #ABABAB;
	color: #686868;
	clear: both;
	margin-top: 2em;
	padding: 2em;
	padding-left: 0em;
	padding-right: 1em;
	border-bottom: solid 1px #ABABAB;
	height: 5em;
float: right;

}
canvas#majtas{
	float: left;
}
canvas#myCanvas1{
	float: right;

}
div#djathtas{
	float: right;
}
td#djathtas{
	float: right;
}
p#qwe{
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}
div#sub{
	float: left;
	padding-right: 8em;
}
div#email{
	float: right;
	padding-top: 1em;

}
#feat{
	font-size: 0.5em;
	  color: #EACDCC;
}

p.sub {
	padding-left: 1.5em;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
}
p.miss{
	padding-left: 0em;
	font-size: 1.4em;
}
img.smartthing{
	width: 35px;
	height: 35px;
}
.emaili{

	margin-left: 9em;
	font-size: 1.2em;
	border: solid 1px #ABABAB;
	padding: 0.5em;
	background-color: #dddddd;
	border-radius: 7px;
	width: 20em;
}
.signupi{
	background-color: #dddddd;
	color: #B86366;
	width: 8em;
	height: 3.2em;
	border-radius: 7px;
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
	font-family:Times-New-Roman;

}
#signupi{
	background-color: #dddddd;
	color: #B86366;
	width: 8em;
	height: 3.2em;
	border-radius: 7px;
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
	font-family:Times-New-Roman;

}
body{
	margin: 0;
	padding: 0;
	background-color: #1F2531;
	color: #FFFEFF;
	/*position: absolute;*/
}
td#cell{
	width: 35%;
	height: 35%;
	align-content: center;

}
footer{
	padding-top: 1em;
	margin-top: 1em;
}
.footer-panel{
	width:22%;
	display: inline-block;
	vertical-align: top;
	padding-left:20px;
margin-right: 1em;

}
.footer-content{
	color:grey;

}
.footer-title{
	margin-bottom:18px;
}
.footer-content li{
	list-style-type:none;
	border-bottom: 1px solid grey;
	padding:5px 0px;
	font-size:20px;
	padding-top: 5px
}
.footer-content-socials li{
	list-style-type:none;
	border-bottom: 1px solid grey;
	padding:5px 0px;
	font-size:20px;
	padding-top: 10px
}
.footer li a{
	color:grey !important;

}
.socials li {
	padding:20px 0px !important;
}
footer
{
	margin:40px 0px 20px 0px !important;
	padding:0 20px;

}
.footer-bottom
{
	margin-top:25px;
	border-top:1px solid grey;
	padding-top:15px;
	margin-left: 1em;
	margin-right: 1em;
	color: grey;
}
p#read{
	float: right;
	color:#AB757D;
}
span#shigjeta{
	font-size: 0.5em;
	align:center;
	padding-left: 0.2em;
}
a.linket:hover{
	color: #FCFFFF;
border: none;}
#contacti{
	padding-bottom: 1em;
}
#tedhenat{
	padding-top: 2em;
		color:grey;
}
#paragrafet{
	padding-top: 1.5em;
}
img.facebookii{
	width: 2.2em;
	height: 2.2em;
	border: solid 0.01em #E3E2E0;
	border-radius: 50%;
}
#fcb{
	padding-left: 1.3em;
			color:grey;

}
img.facebookii:hover{
	width: 6em;
	height: 6em;
	-webkit-transition:width 3s,height 3s;
	transition: width 3s,height 3s;
}
/*dropdown_menu*/

li a.dropdbtn.dropdown{
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0;
 }
 li a:hover,.dropdown:hover{
 background-color: #1F2531;
 }
 li.dropdown{
 	display: inline-block;

 }
 .canvasi123{
margin-left: 30em;
 }
.dropdown-content{
	margin-top: 1em;
	display: none;
	position: absolute;
	background:#B86366;
	width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);

}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	float: none;
}
.dropdown-content a:hover{
background-color: :#1F2531;
border-radius: 5px;
}
.dropdown:hover .dropdown-content{
	display: block;
	border-radius: 5px;
}
.innerdiv{
 width:600px;
background:transparent;
border:none;
outline: none;
border-bottom: 1px pink;
margin-bottom: 15px;
}
form{
margin-top:50px;
transition: all 4s ease-in-out;
padding :10px;

}
.none{
text-align:center;
background-image:
linear-gradient(to bottom, rgba(0, 0, 25, 0.52), rgba(220, 19, 93, 0.73)),
url('contact.jpg');
width: 100%;
height: 567px;
background-size: cover;
}
.form-control{
	width:200px;
	background: transparent;
	border:none;
	border-bottom:4px solid pink;
    font-size:15px;
	color:white;
	margin bottom:15px;
    padding-bottom: 20px;
	font-family: sans-serif;
	border-radius: 5px;

}
#form-control{
	width:200px;
	background: transparent;
	border:none;
	border-bottom:4px solid pink;
    font-size:15px;
	color:white;
	margin bottom:15px;
    padding-bottom: 20px;
	font-family: sans-serif;

}
input {
	height :20px;
}
form .submit{
background: #9A1844;
border-color:transparent;
font-size:20px;
letter-spacing:2px;
margin-top:20px;
}
#contact-list{

	text-align: right;

}
